<div  *ngIf="datumSummary | async as summary; else loading"  fxHide.lt-sm>
    
    <div  style="display: block" >
      <h1>Timeline of Last {{limitData}} Years Registration</h1>
      <canvas baseChart
        [data]="chartData" 
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [type]="chartType">
      </canvas>
    </div>
  </div>
<div fxHide.gt-xs><h1>Screen too small to show timeline chart.</h1>
    <h2>Please change Orientation to Landscape on Mobile.</h2></div>
  <ng-template #loading>
    <div><h2>Loading...</h2></div>    
    <mat-progress-bar
    mode="indeterminate">
</mat-progress-bar>
  </ng-template>