<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>

        <a mat-flat-button color="accent" title="Netherlands RDW Vehicle Data" [routerLink]="''">
          Netherlands RDW Vehicle Data
        </a></span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <a mat-button title="View by Brand" [routerLink]="'/topbrand'">
          <mat-icon>commute</mat-icon>
          View by Brand
        </a>
        <a mat-button title="View by Model" [routerLink]="'/topmodel'">
          <mat-icon>garage</mat-icon>
          View by Model
        </a> 
        <a mat-button title="View by Type" [routerLink]="'/toptype'">
          <mat-icon>text_fields</mat-icon>
          View by Type
        </a>
        <a mat-button title="Timeline" [routerLink]="'/datum'">
          <mat-icon>timeline</mat-icon>
          Timeline
        </a>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>

      <mat-nav-list>
        <a mat-list-item title="View by Brand" [routerLink]="'/topbrand'" (click)="sidenav.close()">
          <mat-icon>commute</mat-icon>
          View by Brand
        </a>
        <a mat-list-item title="View by Model" [routerLink]="'/topmodel'" (click)="sidenav.close()">
          <mat-icon>garage</mat-icon>
          View by Model
        </a> 
        <a mat-list-item title="View by Type" [routerLink]="'/toptype'" (click)="sidenav.close()">
          <mat-icon>text_fields</mat-icon>
          View by Type
        </a>

        <a mat-list-item title="Timeline" [routerLink]="'/datum'" (click)="sidenav.close()">
          <mat-icon>timeline</mat-icon>
          Timeline
        </a>

      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div fxLayout="row" fxLayoutAlign="center none">
        <div fxFlex.gt-md="80" fxFlex="99" fxLayoutGap="2px">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>