<div *ngIf="merkSummary | async as summary; else loading"  fxLayout="column" fxFlexAlign="center">
    <h1>Total: {{summary.total | number }}</h1>

  <table mat-table [dataSource]="summary.merkTotal"  fxFill >
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
          <ng-container matColumnDef="position">
            <th class="text-align-right" mat-header-cell *matHeaderCellDef style="width:20px"> # </th>
            <td class="text-align-right" mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
          </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="merk">
      <th mat-header-cell *matHeaderCellDef > <strong>Brand</strong> </th>
      <td mat-cell *matCellDef="let element"> <a
        [title]="element.merk"
        [routerLink]="['/brand', element.merk]">
        {{element.merk}}
      </a>  </td>
    </ng-container>
  
  
    <!-- Name Column -->
    <ng-container matColumnDef="count_merk"  >
      <th class="text-align-right" mat-header-cell *matHeaderCellDef  > <strong>Total.</strong> </th>
      <td class="text-align-right" mat-cell *matCellDef="let element"  > {{element.count | number}} </td>
    </ng-container>
  
    <ng-container matColumnDef="percentage">
      <th class="text-align-right" mat-header-cell *matHeaderCellDef style="width:18%"> <strong>(%)</strong> </th>
      <td class="text-align-right" mat-cell *matCellDef="let element"> {{element.percentage | percent : '1.1-2'}}  </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  &nbsp;
  <div  >
    
    <div  style="display: block" >
      <h1>Top {{chartLimit}} Distribution</h1>
      <canvas baseChart
        [data]="chartData" 
        [options]="chartOptions"
        [plugins]="chartPlugins"
        [type]="chartType">
      </canvas>
    </div>
  </div>
  </div>


  <ng-template #loading>
    <div><h2>Loading...</h2></div>    
    <mat-progress-bar
    mode="indeterminate">
</mat-progress-bar>
  </ng-template>



  
  